<% @schools.each do |s| %>
  <% sid = s["id"] %>
    <div class="panel panel-default list-elem">
      <div class="panel-heading">
        <a href=/schools/<%= sid %>><%= s["name"] %></a>
      </div>
      <div class="panel-body">
        <p>
          <%= s["address"] %>
        </p>
        <p>
          <%= s["grade_level"] %>
        </p>
      </div>
    </div>
  <% end %>