<% provide(:title, "Home") %>
<div id="map"></div>
<script>
  function initMap() {
    var philly = {lat: 40.0048632, lng: -75.1880722};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: philly
    });
    <% @schools.each do |s| %>
      var lat = <%= s["latitude"].to_f %>;
      var lng = <%= s["longitude"].to_f %>;
      var pos = {lat: lat, lng: lng};
      var marker = new google.maps.Marker({
       position: pos,
       map: map
      });
    <% end %>
    }
</script>

<div id="list">
  
  <%= render 'filter' %>
  <%= render 'list' %>
  
</div>