<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to SchoolSafe</h1>
  <h2>
    <p>
      This is the home page for the SchoolSafe application.
    </p>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>