<% reviews.each do |r| %>
  <% @school = School.find(r.school_id) %>
  <div class="panel panel-default list-elem">
    <div class="panel-heading">
        <%= @school.name %>
    </div>
    <div class="panel-body">
        <p>
            <%= r.title %>
        </p>
        <p>
            <%= r.rating %>
        </p>
        <p>
            <%= r.comment %>
        </p>
    </div>
  </div>
<% end %>