<p id="notice"><%= notice %></p>

<%- model_class = School -%>
<div class="page-header">
  <h1><%= School.find(params[:id]).name %></h1>
</div>

<div class="crimes_map">
  <%= render partial: 'crimesmap', locals: {results: @results} %>
</div>


<div id="crimes-list">
  <%= render partial: 'crimes', locals: {results: @results} %>
</div>


