<p id="notice"><%= notice %></p>
<%- model_class = School -%>
<% @school = School.find(params[:id]) %>
<div class="page-header">
    <h1><%= School.find(params[:id]).name %></h1>
</div>
<div class="review-button">
    <% if logged_in? %>
        <%= link_to "Post a Review", new_school_review_path(@school), class: "btn btn-primary" %>
    <% end %>
</div>


<%= link_to 'Back', root_path %>
