<p id="notice"><%= notice %></p>

<%- model_class = School -%>
<div class="page-header">
  <h1><%= School.find(params[:id]).name %></h1>
</div>

<% @results.each do |r| %>
  <p> <%= r %> </p>
<% end %>

<%= link_to 'Back', root_path %>
